@import 'primeicons/primeicons.css';

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
  background-color: var(--p-surface-50);
  color: var(--p-text-color);
}

.app-dark {
  color-scheme: dark;

  body {
    background-color: var(--p-surface-950);
  }
}
